@model List<CrudAlumnos.Models.AlumnoViewModel>
@{
    ViewData["Title"] = "Lista de Alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <!--un arroba antes del if (TempData["mensaje"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <i class="bi bi-info-circle-fill"></i> &nbsp;
            Antes se usa un arroba TempData["mensaje"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }-->

    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de Alumnos</h3>
        </div>

    </div>

    <!-- FORMULARIO DE FILTRO -->
    <div class="row mb-3">
        <div class="col-sm-12">
            <form id="filtroForm">
                <div class="row">
                    <div class="col-sm-3">
                        <select name="estado" id="estado" class="form-control">
                            <option value="">Todos</option>
                            <option value="true">Activos</option>
                            <option value="false">Inactivos</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="busqueda" id="busqueda" class="form-control" placeholder="Nombre del Alumno...">
                    </div>
                    <div class="col-sm-3">
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- TABLA DE ALUMNOS -->
    <div id="alumnosContainer">
        @Html.Partial("_AlumnosPartial", Model)
    </div>


</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {

        //<----------  PROCESO DE FILTRO Y BUSQUEDA  --------->

        // Escuchar el evento submit del formulario de filtro
        $("#filtroForm").submit(function (e) {
            e.preventDefault(); // Evitar el envío del formulario

            // Obtener los valores seleccionados del filtro
            var estado = $("#estado").val();
            var busqueda = $("#busqueda").val();

            // Realizar la llamada AJAX para buscar los alumnos
            $.ajax({
                url: '@Url.Action("Buscar", "Alumnos")',
                type: 'POST',
                data: {
                    estado: estado,
                    busqueda: busqueda 
                },
                success: function (result) {
                    $("#alumnosContainer").html(result); 
                },
                error: function () {
                    alert("Error");
                }
            });
        });


        //<----------  CARGA LA PAGINA  ----------->
        $.ajax({
            url: '@Url.Action("Buscar", "Alumnos")',
            type: 'POST',
            success: function (result) {
                $("#alumnosContainer").html(result); //<----------  MUESTRA TABLA COMPLETA  ----------->
            },
            error: function () {
                alert("Error");
            }
        });

    });

</script>